// @import url("https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css");
@import "./leaflet.css"; // when I import the leaflet.css gives error.
// 
// @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css");
@import "./normalize.css";
@import "./sidebar.scss";
@import "./topBox.scss";

.leaflet-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

html, body, #map-container {
    height: 100%;
}

// with this we ensure the images doesn't exceed the sidebar area.
.airline-container img{
  max-width: 100% !important;
}

.airport-active {
  z-index: 1000 !important;
}