$background-info: #3ea2ff;
$background-info-focus: #0764bb;

$background-success: #64ce83;
$background-success-focus: #0fb13f;

$background-warning: #ff7f48;
$background-warning-focus: #ca4f08;

$background-danger: #e74c3c;
$background-danger-focus: #ab1506;

.top-box-notification-transition-enter {
  opacity    : 0.01;
  transition : opacity .5s ease-in;
}

.top-box-notification-transition-enter-active {
    opacity : 1;
}

.top-box-notification-transition-leave {
  opacity    : 1;
  transition : opacity .5s ease-in;
}

.top-box-notification-transition-leave-active {
    opacity : 0.01;
}

.top-box-notification {
  position      : relative;
  font          : 1.3em normal Helvetica, sans-serif;
  overflow      : hidden;
  border-radius : 4px;
  margin-bottom : 2px;
  max-height    : 400px;
  box-sizing    : border-box;
  box-shadow    : 0 0 1px 1px rgba(10, 10, 11, .125);
  padding       : 1rem;
  color         : #fff;
}

// @each $kind in success, info, warning, danger {
//   .top-box-notification--#{$kind} {
//     background-color: $background-#{$kind};
//     > .top-box-notification__action button {
//       background-color: $background-#{$kind};
//       &:focus{
//         background-color: $background-#{$kind}-focus;
//       }     
//     }
//   }
// }
.top-box-notification--success {
  background-color: $background-success;
  > .top-box-notification__action button {
    background-color: $background-success;
    &:focus{
      background-color: #0fb13f;
    }     
  }}
 
.top-box-notification--info {
  background-color: $background-info;
  > .top-box-notification__action button {
    background-color: $background-info;
    &:focus{
      background-color: #0764bb;
    }    
  }
}
 
.top-box-notification--warning {
  background-color: $background-warning;
  > .top-box-notification__action button {
    background-color: $background-warning;
    &:focus{
      background-color: #ca4f08;
    }
  }
}
 
.top-box-notification--danger {
  background-color: $background-danger;
  > .top-box-notification__action button {
    background-color: $background-danger;
    &:focus{
      background-color: #ab1506;
    }
  }
}

.top-box-notification__action {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 15%;
    border-left: 1px solid;
    > button{
      height: 100%;
      width: 100%;
      border: none;
      &:focus{
        outline: none;
      }
    }
    &:focus{
      outline: none;
    }
}


.top-box-notification__content {
    width: 80%;
}
.top-box-notification__container {
  position  : fixed;
  top       : 10px;
  right     : 50px;
  z-index   : 1000;
  width     : 80%;
  max-width : 400px;
  margin    : auto;
}
